<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BondQuest - Register</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

<div class="login-container">

<h1>Create Account</h1>

<form>

<label>Full Name</label><br>
<input type="text" placeholder="Enter your full name" required>

<label>Email</label><br>
<input type="email" placeholder="Enter your email" required>

<label>Student ID</label><br>
<input type="text" placeholder="Enter your Student ID">

<label>Password</label><br>
<input type="password" placeholder="Enter your password" required>

<label>Confirm Password</label><br>
<input type="password" placeholder="Confirm your password" required>

<label>Role</label><br>

<select>
    <option>Student</option>
    <option>Teacher</option>
</select>

<br><br>

<button type="submit">Register</button>

</form>

<br>

<a href="login.html">Already have an account? Login</a>

</div>

</body>
</html>